header li .active{
    border-bottom: 2px solid #fff;
}
header li{
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 0;
}
header li:last-child{
    margin-right: 0;
}
header li a{
    text-decoration: none;
    color: #fff;
    transition: all 0.5s;
}
header li a:hover{
    color: #888;
}